
/* Color Codes - Light Grey e6e6e6 blackish 1e1e1e darkgrey 848383 redish EB3f3f */

/* Mobile */

/* Media styles for login when page is less than 800px*/
@media (max-width: 800px) {
  #loginForm input {
	display: block; 
	width: 90%;
	margin-right: 25px;
  }
  
  #loginForm label {
	margin-left: 15px;
  }

  .story-list > img {
    max-width: 75%;
  }
  
}

/* Advertisement Code */
#advertisement {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    display: block;
} 

/* Banner Code */

h1 {
  margin: auto;
  max-width: 800px;
}

h1 img {
  height: auto;
  margin: 3px;
  max-height: 150px;
  max-width: 100%;
}

/* Navigation Code */

nav {
  background-color:#EB3F3F;
  border-radius: 3px 3px 0 0;
  font-family: open sans;
  margin: auto;
  max-width: 800px;
  text-align: center;
  font-size: 125%;
  padding: 5px;
  text-decoration: none;
}
 
nav a {
  color: white;
}
  
nav a:hover {
  color:#848383;
  transition: .3s ease;
}

#options {
  background-color: #FF6666;
  margin: auto;
  max-width: 800px;
  padding: 5px;
  text-align: center;
}
             
/* Articles Code */

#wrapper {
  background-color: whitesmoke;
  margin: auto;
  max-width: 800px;
  padding: 5px;
}

.story-list {
  padding-left: 5px;
}

/* Article Submission */

form {
  padding: 5px;
}

/* Author */
h4 { 
  font-size: 12px;
  font-style: italic;
}

/* Date */
h5 {
  font-size: 12px;
  font-style: italic;
  border-bottom: 1px solid black;
}

article {
  margin-top: 10px;
}

* {
  margin: 0; padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  max-width: 700px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
  max-width: 200px;
  border-radius: 15px;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px black solid;
}


/* Star Rating System*/
 .p1 {
  position:relative;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin: auto;
}

.rating > input {
  display:none;
}

.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 2vw;
  color:rgb(160, 153, 50);
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 4;
}

/*Share Buttons*/

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 0.30em 0.2em;
  outline: none;
  text-align: center;
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
}

.share-btn.twitter     { background: #2e94e2; }
.share-btn.facebook    { background: #223253; }
.share-btn.reddit      { background: #b64c18; }
.share-btn.email       { background: #0c4d17; }

/* Comments Style */

#comments {
  background-color: #e6e6e6;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  margin: auto;
}

#submitComment {
  padding: 2px;
}


/* Footer Code */
             
footer {
  background-color:#EB3f3f;
  border-radius: 0 0 3px 3px;
  color: #000000;
  font-size: 80%;
  padding: 5px;
  text-align: center;
  margin: auto;
}     
        
footer a {
  color: white;
  text-decoration: none;
}
       
footer a:hover {
  color:#848383;
  transition: .3s ease;
}


/*Styles for login pages*/
#loginDiv {
  max-width: 800px;
  margin: 0 auto;
  background-color: #EB3F3F;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  }
  
  #loginDiv p {
    text-align: center;
  }
  
  #loginForm input {
    position: relative;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 20px;
  }
  
  #loginForm {
    max-width:800px;
    margin: 0 auto;
    padding: 5px;
  }
  
  #loginForm label {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  #profileAboutMe {
    margin-left: 20px;
    width: 400px;
    border-radius: 10px;
  }

  #inputButton {
    width:100px;
    margin: 0 auto;
    padding:25px;
  }
  
  #inputButton input{
    width: 100px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
  }

  #welcome {
    text-align: right;
    font-family: open sans;
    font-size: 125%;
  }
  /*End of login styles*/
  
  /*Submission form styles*/
  #formSubmit {
    display: grid;
    padding: 25px;
    
  }

  #formSubmit input {
    max-width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #formSubmit label {
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }

  #addbtn input{
    width: 250px;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #EB3F3F;
    font-size: 20px;
  }

  #formSubmit textarea {
    max-width: 600px;
    border-radius: 10px;
    padding: 5px;
  }

  #wrapperadd {
    margin: auto;
    max-width: 800px;
  }

  #wrapperadd h1 {
    font-size: 40px;
    font-family: open sans;
    margin-left:25px;
  }
  
  #submit {
    margin-left: 25px;
    font-size: 25px;
    margin-bottom: 25px;
  }
  /*End of submission form styles*/

  /* Styles for Donation Page*/

  #donoAmountMonthly {
    background-color: rgb(255, 103, 103);
    border: 1px solid black;
    border-radius: 25px;
    max-width: 400px;
    padding: 20px;
    font-weight: bold;
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }

  #donoAmountOnce {
    background-color: rgb(255, 103, 103);
    border: 1px solid black;
    border-radius: 25px;
    max-width: 400px;
    padding: 20px;
    font-weight: bold;
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }


  #contactInfo {
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }

  #contactInfo input{
    max-width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #address {
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }

  #address input {
    max-width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #card {
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }

  #card input {
    max-width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #donateSubmit {
    max-width: 250px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #EB3F3F;
    font-size: 20px;
  }
  /* End Donation Page Styles */

  /* Style for Profile Page */

  #usernameInfo {
    width: 400px;
    padding: 20px;
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }
  
  #usernameInfo input {
    width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #basicDetails {
    width: 400px;
    padding: 20px;
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }

  #basicDetails input {
    width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #basicDetails textarea {
    width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #profileSubmit {
    width: 250px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #EB3F3F;
    font-size: 20px;
  }

  #defaultImage {
    cursor: pointer;
    width: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius:50%;
    border-radius: 50%;
  }

  #imageProfile {
    display: none;
  }

  /* End Profile Page Style */
