
/* Color Codes - Light Grey e6e6e6 blackish 1e1e1e darkgrey 848383 redish EB3f3f */

/* Mobile */

@media (max-width: 400px) {
  .story-list img { 
    max-width: 75%; 
  } 
}	

/* Media styles for login when page is less than 800px*/
@media (max-width: 800px) {
  #login input {
    border-radius: 5px;
    font-size: 20px;
    width: 95%;
    display: inline-block;
    margin-right: 10px;
  
  }
  
  #login form {
	  display: inline-block;
  }
  
  #login label {
    padding-top: 10px;
    display: block;
  }
  
  #login {
	  width: 100%;
  }
  
}

/* Advertisement Code */
.w3-content{position:relative;margin-top:0em;}
.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-button:hover{color:#000!important;background-color:#ccc!important}

.w3-content button {
position: absolute;
top: 32%;
}

.w3-display-right {right:0}
.w3-display-left {left:0}

/* Banner Code */

h1 {
  margin: 0px;
}

h1 img {
  height: auto;
  margin: 3px;
  max-height: 150px;
  max-width: 100%;
}

/* Navigation Code */

nav {
  background-color:#EB3F3F;
  font-family: open sans;
  margin: 0px;
  text-align: right;
  font-size: 125%;
  padding: 5px;
  padding-right: 15px;
  text-decoration: none;
  border-bottom-color: black;
  border-bottom-width: 3;
}
 
nav a {
  color: white;
  text-decoration: none;
}
  
nav a:hover {
  color:#848383;
  transition: .3s ease;
}
             
/* Articles Code */

#wrapper {
  display: flex;
  max-width: 800px;
  padding: 10px;
}

.story-list {
  padding-left: 5px;
}

/* Article Submission */

form {
  padding: 5px;
}

/* Author */
h4 { 
  font-size: 12px;
  font-style: italic;
}

/* Date */
h5 {
  font-size: 12px;
  font-style: italic;
  border-bottom: 1px solid black;
}

article {
  margin-top: 10px;
}

* {
  margin: 0; padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  width: 700px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
  max-width: 200px;
  border-radius: 15px;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px black solid;
}


/* Star Rating System*/
 .p1 {
  position:relative;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.rating > input {
  display:none;
}

.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 2vw;
  color:rgb(160, 153, 50);
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 4;
}

/*Share Buttons*/

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 0.30em 0.2em;
  outline: none;
  text-align: center;
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 0.2em;
}

.share-btn.twitter     { background: #2e94e2; }
.share-btn.facebook    { background: #223253; }
.share-btn.reddit      { background: #b64c18; }
.share-btn.email       { background: #0c4d17; }

/* Comments Style */

#comments {
  background-color: #fffffe;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  margin: 0 5px 5px 5px;
}

#submitComment {
  padding: 2px;
}


/* Footer Code */
             
footer {
  background-color:#EB3f3f;
  color: #000000;
  font-size: 80%;
  padding: 5px;
  text-align: left;
  margin: 0px;
}     
        
footer a {
  color: white;
  text-decoration: none;
}
       
footer a:hover {
  color:#848383;
  transition: .3s ease;
}


/*Styles for login pages*/
#loginDiv {
  max-width: 900px;
  margin: 0 auto;
  background-color: #EB3F3F;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  }
  
  #loginDiv p {
    text-align: center;
  }
  
  #loginForm input {
    border-radius: 5px;
    font-size: 20px;
  }
  
  #loginForm {
    max-width:800px;
    margin: 0 auto;
    padding: 5px;
  }
  
  #loginForm label {
    padding: 20px;
  }
  
  #inputButton {
    width:100px;
    margin: 0 auto;
    padding:25px;
  }
  
  #inputButton input{
    width: 100px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
  }

  #welcome {
    text-align: right;
    font-family: open sans;
    font-size: 125%;
  }
  /*End of login styles*/
  
  /*Submission form styles*/
  #formSubmit {
    display: grid;
    padding: 25px;
    
  }

  #formSubmit input {
    width: 600px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }

  #formSubmit label {
    margin-right: 25px;
    padding: 10px;
    font-size: 25px;
  }

  #addbtn input{
    width: 250px;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #EB3F3F;
    font-size: 20px;
  }

  #formSubmit textarea {
    width: 600px;
    border-radius: 10px;
    padding: 5px;
  }

  #wrapperadd {
    margin-left: 50px;
    margin-top: 25px;
  }

  #wrapperadd h1 {
    font-size: 40px;
    font-family: open sans;
    margin-left:25px;
  }
  
  #submit {
    margin-left: 25px;
    font-size: 25px;
    margin-bottom: 25px;
  }
  /*End of submission form styles*/

  /* Styles for Donation Page*/

  #donoAmountMonthly {
    background-color: rgb(255, 103, 103);
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #donoAmountOnce {
    background-color: rgb(255, 103, 103);
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  #contactInfo {
    padding: 10px;
    width: 500px;
  }

  #address {
    padding: 10px;
  }

  #card {
    padding: 10px;
  }

  #donateSubmit {
    padding: 10px;
    background-color: #b4fcf8;
  }
  /* End Donation Page Styles */